{% extends "base.html" %}

{% load static %}

{% block title %} Contact Us {% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'logo/small_logo.png' %}" alt="piwero_small_logo">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-9">

        <!-- Jumbotron -->
        <div class="jumbotron h-md-50 mx-2">
          <h1 class="text-right"> Contact Us</h1>

        </div>

    </div>
    <!-- /.row -->

    <!-- Form Row -->
      <div class="row">
          <div class="col">
     <div class="form-group">
    {% if "valid" in request.GET %}
        <p style="color: blue;">Information sent successfully </p>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <table style="color: dark; margin:20px auto;">{{form.as_table}}</table>
         <input type="file" name="file" required><br>
        <input type="submit" value="Send" style="width: 150px;">

    </form>
</div>
              </div>
         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}