{% extends "base.html" %}

{% load static %}

{% block title %} Contact Us {% endblock %}
{% block name %} Contact Us {% endblock %}

{% block content %}
  <!-- Page Content -->

    <!-- /.row -->

    <!-- Form Row -->
      <div class="row">
          <div class="col">
     <div class="form-group">
    {% if "valid" in request.GET %}
        <p style="color: blue;">Information sent successfully </p>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data" style="text-align: center;">
        {% csrf_token %}
        <table style="color: dark; margin:20px auto;">{{form.as_table}}</table>
        <input type="submit" value="Send" style="width: 150px;">

    </form>
</div>
              </div>
         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}