{% extends "base.html" %}

{% load static %}

{% block title %} Services {% endblock %}
{% block name %} Log In {% endblock %}


{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Content Row -->
      <div class="row">
      {% for service in services %}

      <div class="col-md-4 mb-5">
          <div class="card mb-3 h-100">
          <div class="card-body">
            <h2 class="card-title">{{service.title}}</h2>
            <p class="card-text">{{service.content}}</p>
            <img src="{{service.image.url}}" class="card-img-bottom" alt="service image">
          </div>

          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>

      {% endfor %}
         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}