<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

    <title>{% block title %}{{ section.title }}{% endblock %}
    </title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/small-business.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <div class="row">
        <div class="col">
          <a class="navbar-brand" href="{% url 'home' %}">Piwero Ltd</a>
      {% if user.is_authenticated %}
          <div class="col">
          <strong class="text-white";>You are logged as: {{ user.username }}</strong>
          {% endif %}
            </div>
      </div>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span>
                </a>
              </li>
              </li>


              {% if user.is_authenticated %}

              <li class="nav-item {% if request.path == '/auth/secret/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'secret' %}">Secret Page</a>
              </li>
              <!-- dropdown My account -->
              <li class="nav-item dropdown {% if request.path|slice:':6' == '/auth/' and request.path != '/auth/secret/' %} active {% endif %}">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>
                <div class="dropdown-menu dropdown-menu-right bg-dark" aria-labelledby="navbarDropdownPortfolio">
                  <a class="nav-link" href="{% url 'password_change' %}">Change Password</a>
                  <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </div>
            </li>


              {% else %}
              <li class="nav-item {% if request.path == '/auth/signup/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li class="nav-item {% if request.path == '/auth/login/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'login' %}">Log In</a>
              </li>
              {% endif %}

              <li class="nav-item {% if request.path == '/services/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'service' %}">Services</a>
              </li>
              <li class="nav-item {% if request.path == '/about/' %} active {% endif %}">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item {% if request.path == '/contact/' %} active {% endif %}">
                <a class="nav-link" href="{% url 'contact' %}">Contact</a>
              </li>
            </ul>
          </div>
        </div>
    </div>
  </nav>

<!-- Page Content -->
  <!-- Top Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'logo/small_logo.png' %}" alt="piwero_small_logo">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-9">

        <!-- Jumbotron -->
        <div class="jumbotron h-md-50 mx-2">
          <h1 class="text-right">{% block name %}Piwero Ltd{% endblock %}</h1>

        </div>

    </div>
    </div>
  </div>

{% block content %}
{% endblock %}

<div class="container fixed-bottom">
  <!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Piwero Ltd. 2021</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</div>
</body>
</html>