{% extends "base.html" %}

{% load static %}

{% block title %}Log In {% endblock %}
{% block name %} Log In {% endblock %}


{% block content %}
  <!-- Page Content -->

    <!-- Content Row -->
      <div class="row">

        <div class="col-md-4 mb-5">
            </div>
      <div class="col-md-4 mb-5">
            <h2 class="title">Sign Up</h2>

            <form method="post" style="text-align: center;">
                {% csrf_token %}
                <table style="color: dark; margin:20px auto;">{{form.as_table}}</table>
                <button type="submit">Log In</button>
                <a href="{% url 'password_reset' %}"> Forgot your password</a>

            </form>
      </div>


         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}