{% extends "base.html" %}

{% load static %}

{% block title %} Password Changed {% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'logo/small_logo.png' %}" alt="piwero_small_logo">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-9">

        <!-- Jumbotron -->
        <div class="jumbotron h-md-50 mx-2">
          <h1 class="text-right"> Password Reset Email Sent </h1>
          <p class="text-right">We have sent you an email with instructions to reset your password</p>

        </div>

    </div>
    <!-- /.row -->

    <!-- Content Row -->




    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}