{% extends "base.html" %}

{% load static %}

{% block title %}Reset Your Password {% endblock %}
{% block name %} Reset Your Password {% endblock %}


{% block content %}
  <!-- Page Content -->
  <div class="container">


    <!-- Content Row -->
      <div class="row">

        <div class="col-md-4 mb-5">
            </div>
      <div class="col-md-4 mb-5">
            <h2 class="title">Reset your Password</h2>

            <form method="post" style="text-align: center;">
                {% csrf_token %}
                <table style="color: dark; margin:20px auto;">{{form.as_table}}</table>
                <button type="submit">Send Confirmation Link</button>

            </form>
      </div>


         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}