{% extends "base.html" %}

{% load static %}

{% block title %}Reset Your Password Link{% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'logo/small_logo.png' %}" alt="piwero_small_logo">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-9">

        <!-- Jumbotron -->
        <div class="jumbotron h-md-50 mx-2">
          <h1 class="text-right"> Set Your New Password </h1>

        </div>

    </div>
    <!-- /.row -->

    <!-- Content Row -->
      <div class="row">

        <div class="col-md-4 mb-5">
            </div>
      <div class="col-md-4 mb-5">
            <h2 class="title">Set Your New Password</h2>
          {% if validlink %}
            <form method="post" style="text-align: center;">
                {% csrf_token %}
                <table style="color: dark; margin:20px auto;">{{form.as_table}}</table>
                <button type="submit">Send Confirmation Link</button>
            </form>
          {% else %}
          <p style="color:red;">Invalid token.</p>
          <p>
          <a href="{% url 'password_reset' %}">Request a new password reset token</a>
          </p>
          {% endif %}
      </div>


         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}