{% extends "base.html" %}

{% load static %}

{% block title %} Sign Up {% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'logo/small_logo.png' %}" alt="piwero_small_logo">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-9">

        <!-- Jumbotron -->
        <div class="jumbotron h-md-50 mx-2">
          <h1 class="text-right"> Sign Up</h1>

        </div>

    </div>
    <!-- /.row -->

    <!-- Content Row -->
      <div class="row">

      <div class="col-md-12 mb-12">
             <h2>Sign up</h2>
              <form method="post">
                {% csrf_token %}
                {% for field in form %}
                  <p>
                    {{ field.label_tag }}<br>
                    {{ field }}
                    {% if field.help_text %}
                      <small style="color: grey">{{ field.help_text }}</small>
                    {% endif %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  </p>
                {% endfor %}
                <button type="submit">Sign up</button>
              </form>
      </div>


         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}