{% extends "base.html" %}

{% load static %}

{% block title %} Catalogue {% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-3">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'logo/small_logo.png' %}" alt="piwero_small_logo">

      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-9">

        <!-- Jumbotron -->
        <div class="jumbotron h-md-50 mx-2">
          <h1 class="text-right"> Catalogue</h1>

        </div>

    </div>
    <!-- /.row -->

    <!-- Content Row -->
        {% for category in categories %}
      <div class="row">
          <h1>{{category.title}}</h1>
          {% for subcategory in subcategories %}
          <div class="row">
      <div class="col-md-4 mb-5">
          <h3>{{subcategory.title}}</h3>
          {% for product in products %}
          {% if product.subcategory == subcategory %}
          <div class="card mb-3 h-100">
          <div class="card-body">
            <h4 class="card-title">{{product.name}}</h4>
            <p class="card-text">{{product.reference}} £{{product.final_price}}</p>

            <img src="{{product.image.url}}" class="card-img-bottom" alt="service image">
          </div>

          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">More Info</a>
          </div>
        </div>
      </div>
      </div>
            {% endif %}{% endfor %}{% endfor %}{% endfor %}
         </div>



    <!-- /.row -->

  </div>
  <!-- /.container -->
  </div>
{% endblock %}